body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f8f8f8;
  }
  
  h1 {
    color: #333;
  }
  
  form input, textarea, select, button {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 300px;
    padding: 8px;
  }
  